body {
  justify-content: center;
}
.header_logo {
  border-radius: 50%;
  position: relative;
}
.header_logo img{
    height: 20px;
    position: absolute;
    top: 15px;
}


header {
  background-color: whitesmoke;
  margin: 0px auto 0;
  position: sticky;
  top: 8px;
  width: auto;
  height: 50px;
  border-radius: 8px;
  border: 2px solid rgb(226, 230, 28);
}

nav {
  text-align: center;
}
li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  padding: 3px; /* Поля вокруг текста */
}
li:hover {
  text-decoration: underline;
  cursor: pointer;
}